$head-background:#009aa6;
$white-color:white;
$overpass-font:  overpass , sans-serif;
$overpass-roman-font : OverpassRoman , sans-serif;
$footer-bg:linear-gradient(103deg, #0c7db8, #009aa6 52%, #37bcbd 100%);
$font-size-df:34.35px;